.tree-container h3, h4, p, ul{
  padding: 0;
  margin: 0;
}
.tree-container ul{
    list-style: none;
}

.tree-container li{
    padding-left: 1em;
    text-indent: -1em;
}

.input-container input{
    border-radius: 5px;
    margin-right: 10px;
}

.tree-container {
    margin: 30px;
}
.input-container {
    margin-bottom: 20px;
}

.node-name i{
    cursor: pointer;
}

.node-name h4{
    display: inline;
    margin-left: 10px;
    cursor: pointer;
}
.error {
    color: red;
}
/* .node-settings {
    z-index: 1000;
    padding: 20px;
    width: 300px;
    background: white;
    box-shadow:  2px 2px lightgray;
    border: 1px solid lightgray;
    border-radius: 3px;
}  */
.node-settings input{
    margin-right: 10px;
}
.node-settings h5{
    margin-bottom: 10px;
}
.edit-name{
    margin-bottom: 10px;
}